

#today{
    width: 403px;
    height: 450px;
    color: #FFFEFE;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    margin-bottom: 20px;
    
}


#city{
    margin-bottom:100px;
}

.today{
    float: left;
    font-size: 90px;
    font-weight: 100;
    text-align: center;
}



#weekly tr{
    background: #000000a0;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "day icon unit";
    margin-bottom: 2px;
    padding-top: 5px;
    margin-left: 250px;

}


.day{
    width: 223.885px;
    height: 78px;
    color: #FFF;
    font-family: Lalezar;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: "day";
    text-align: left;
}

.icon{
    margin: 0;
    text-align: center;
    grid-area: "icon";
}


.unit{
    margin-right: 0;
    margin-left: 5rem;
    color: #FFF;
    text-align: right;
    font-family: Lalezar;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    grid-area: "unit";
}

table{
    width: 100%;
    height: fit-content;
}